{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <!--
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    -->
    <h1>Forage</h1><br>
    <div class="row">
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-download"></span> Nearby</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-search"></span> At Address</a>
    </div>
    <h1>4</h1>
    <div class="col-lg-6 col-lg-offset-3" align="center">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Try" >
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Advanced Forage!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2 col-lg-offset-7">
        Advanced Forage
    </div>
  </div>
</div>
<div class="container">
  
</div>
{% endblock %}