{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  function jump(id) {
    var top = document.getElementById(id).offsetTop; //Getting Y of target element
    window.scrollTo(0, top);                        //Go there.
  }​
</script>

<script>
  function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(updateValues);
    }
    else { 
        document.search.latitude.value = "Geolocation is not supported by this browser.";
    }  
  }
  function updateValues(position) {
      document.search.latitude.value = position.coords.latitude;
      document.search.longitude.value = position.coords.longitude;
  }
</script>

{% url 'results' as results_url %}
{% if request.get_full_path == results_url %} <div onload="jump(results)"></div>{% endif %}

<div class="jumbotron text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 input-group input-group-lg " align="center">
      <form id="search" name="search" action="results" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Forage4Food Nearby: Enter a restaurant or food category..." name="info" autofocus="autofocus" required>
        <br>
        <input type="hidden" name="latitude" id="latitude" value="">
        <input type="hidden" name="longitude" id="longitude" value="">
        <br>
        <script>getLocation();</script>
        <input type="submit" class="btn btn-default" value="Forage!">
      </form>
    </div><!-- /input-group -->
  </div>
</div>

{% if businesses|length > 0 %}
<div class="container">
  {% if businesses %}
      <h2> Top {{ businesses|length }} Nearby Results 4 "{{ info }}" </h2><br>
      <script>
          jump("show");
      </script>
  {% endif %}

  <div class="panel panel-default" id="show">
    {% for business in businesses %}
      <div class="panel-heading">
          <h2 class="panel-title"> <a href="{{business.url}}" target="_blank">{{ business.name }}</a></h2>
      </div>
      <div class="panel-body">
        <div class="col-lg-4" align="left">
          <img class="thumbnail" src="{{ business.image_url}}">
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <p>Address: 
            <a href="https://www.google.com/maps/dir/{{curLat}},{{curLong}}/{{business.name}},{{business.location.address1}},{{business.location.city}},{{business.location.state}} {{business.location.zip_code}}/" target="_blank">{{ business.location.address1 }}<br>{{ business.location.city}}, {{business.location.state}} {{business.location.zip_code}}</a>
          </p>
          <p>Phone Number: {{ business.display_phone }}</p>
          <p>Price: {{ business.price }}/$$$$</p>
          <p>Closed Right Now? {{ business.is_closed }}</p>
          <p>Rating: {{ business.rating }}/5.0</p>
          <p>Categories: {% for category in business.categories %}{{category.title}}<br>{% endfor %}</p>
          <p><a href="{{business.url}}" target="_blank">{{business.review_count}} Reviews</a></p>
        </div>
        <p align="right"><a href="#">Back To Top</a></p>
      </div>
    {% endfor %}
  </div>
{% elif businesses %}
  <div class="container">
    <h2> No Nearby Results</h2><br>
  </div>
{% endif %}

{% endblock %}