{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  function jump(id) {
    var top = document.getElementById(id).offsetTop; //Getting Y of target element
    window.scrollTo(0, top);                        //Go there.
  }​
</script>

<script>
  function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(updateValues);
    }
    else { 
        document.search.latitude.value = "Geolocation is not supported by this browser.";
    }  
  }
  function updateValues(position) {
      document.search.latitude.value = position.coords.latitude;
      document.search.longitude.value = position.coords.longitude;
  }
</script>

{% url 'results' as results_url %}
{% if request.get_full_path == results_url %} <div onload="jump(results)"></div>{% endif %}

<div class="jumbotron text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 input-group input-group-lg " align="center">
      <form id="search" name="search" action="results" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Forage4Food: Enter a restaurant or food category..." name="info" autofocus="autofocus" required>
        <br>
        <input type="hidden" name="latitude" id="latitude" value="">
        <input type="hidden" name="longitude" id="longitude" value="">
        <br>
        <script>getLocation();</script>
        <input type="submit" class="btn btn-default" value="Forage!">
      </form>
    </div><!-- /input-group -->
  </div>
</div>

{% if businesses|length > 0 %}
<div class="container" id="show">
  {% if businesses %}
      <h2> Top {{ businesses|length }} Nearby Results</h2><br>
      <script>
          window.location.href = 'results#show';                     //Go there.
      </script>
  {% endif %}
  <!--
  <style>
    #map {
      width: 400px;
      height: 400px;
    }
   </style>

  <div id="map"></div>
  <script>
    function getMyLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(returnCoordinates);
      }
      else { 
          document.search.latitude.value = "Geolocation is not supported by this browser.";
    }
    function returnCoordinates(position) {
      return position.coords.latitude, position.coords.longitude;
    }

    function initMap() {
      var myLatLng = getMyLocation();

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {{ businesses.0.coordinates.latitude }}, lng: {{ businesses.0.coordinates.longitude }}
      });

      {% for business in businesses %}
      var marker = new google.maps.Marker({
        position: {lat: {{ business.coordinates.latitude }}, lng: {{ business.coordinates.longitude }} },
        map: map,
        title: "{{ business.name }}"
      });
      {% endfor %}
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByy6nJ-gsCOt2XGyxQze1UcW3VxjWsL7U&callback=initMap";
  </script>
  -->

  <div class="panel panel-default">
    {% for business in businesses %}
      <div class="panel-heading">
          <h2 class="panel-title"> <a href="{{business.url}}">{{ business.name }}</a></h2>
      </div>
      <div class="panel-body">
        <div class="col-lg-4" align="left">
          <img class="thumbnail" src="{{ business.image_url}}">
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <p>Address: {{ business.location.address1 }}<br>{{ business.location.city}}, {{business.location.state}} {{business.location.zip_code}}</p>
          <p>Phone Number: {{ business.display_phone }}</p>
          <p>Price: {{ business.price }}/$$$$</p>
          <p>Closed Right Now? {{ business.is_closed }}</p>
          <p>Rating: {{ business.rating }}/5.0</p>
          <p>Categories: {% for category in business.categories %}{{category.title}}<br>{% endfor %}</p>
          <p><a href="{{business.url}}">{{business.review_count}} Reviews</a></p>
        </div>
        <p align="right"><a href="#">Back To Top</a></p>
      </div>
    {% endfor %}
  </div>
{% elif businesses %}
  <div class="container" id="show">
    <h2> No Nearby Results</h2><br>
  </div>
{% endif %}

<footer class="footer">
  <div class="container" align="center">
      <h5 class="footer-text">(C) 2017 - Victor Mao</h5>
      <h5 class="footer-text">Powevered by <a href="https://www.yelp.com/developers/documentation/v3" target="_blank">Yelp Fusion API</a>, <a href="https://www.heroku.com" target="_blank">Heroku</a>, <a href="https://www.djangoproject.com/" target="_blank">Django</a>, and <a href="https://www.python.org/" target="_blank">Python</h5>
  </div>
</footer>
{% endblock %}